<!html>
<HTML>
  <HEAD>
    <link rel="stylesheet" type="text/css" href="Style.css">
    <script src="Script.js"></script>
  </HEAD>
  <style>
  body{
    background-color: #00cc66;
  }
  </style>
  <BODY>
    <h1 id="Head"> Melanie</h1>
    <button onclick="">Reflection </button>
    <p> I am tired</p>
    <p id="Firstp"> Hello</p>
    <img src="Sky.jpg" width="600" alt="Image of Miami sky">
    <h2> About me</h2>
    <p> My name is Melanie Guzman. </br>I am from Miami Florida and I aspire to be an engineer. I want to become an engineer, because of the many great things engineers can create to better the lives of the people. I have recently taken part in a program called Girls Who Code. In the program I have been able to expand my knowlege of tecnology.</p>
    <h3>Likes/Dislikes</h3>
  <p>Likes</p>
  <ul>
    <li>Animals
    <li>Nature
    <li>Learning new things
    <li>Watching comedies
  </ul>
    <p>Dislikes</p>
  <ul>
    <li> The Beach
  </ul>
  <h4> Game </h4>
    <img src="Game.png" width="600" alt="Image of side scroller game">
  </BODY>
  </HTML>
